.out{
    display:flex;
    flex-direction:row;
    width:600px;
    height:80px;
    border-left-width:2px ;    
    border-left-width:2px ; 
    border-right-width: 5px; 
    border-bottom-width:3px ; 
    border-top-width:3px ;
    border-color: blue; 
    border-style: solid; 
}
 
.left{
   display:flex;
    flex:1;
    background-color: lightpink;
}
.right{
    display:flex;
    flex-direction: column;   
    flex:2;
    background-color: lightblue;  
}

.divbottomright
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

 .subdivbottomrightleft
 {
  width:55px;
  height:30px;
  background-color: black;
  color:white;
  font-size: x-large;
 } 
 .subdivbottomrightright
 {
     width:55px;
  height:30px;
  background-color: black;
  color:white;
  font-size: x-large;
 }
 .divtopright
 {
  width:55px;
  height:30px;
  color:black;
  font-size: x-large;
 } 
