
.right{
    display:flex;
    flex-direction: column; 
     justify-content: center;
    justify-items:center ;     
    background-color: white;
    width:500px;
    height:320px;
    /* border-left-width:8px ;     */
    /* border-left-width:8px ;  */
    /* border-right-width: 11px;  */
    /* border-bottom-width:9px ;  */
    /* border-top-width:9px ; */
    /* border-color: blue;  */
    border-color:rgb(196, 187, 187);
    
border-width: 1px;
border-style: solid;
/* border-color:white; */
/* border-radius:20px; */
/* border-bottom-left-radius: 20px; */
/* border-top-left-radius: 20px; */
box-shadow:inset 1px 2px 3px 1px rgba(0,0,0,0.05); 
}

.divbottomright
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

 .subdivbottomrightleft
 {
 display: flex;
 flex-direction: row;
   flex:1;
  color:white;
  font-size:normal;
  margin-left: 15px;
  /* padding-top: 25px; */
 } 
 .subdivbottomrightright
 {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-content: center; */
     width:55px;
  height:30px;
  background-color: black;
  color:white;
  font-size:normal;
  /* margin-bottom: 30px; */
 }
 .divtopright
 {
  width:55px;
  height:30px;
  color:grey;
  font-size:normal;
  margin-left: 15px;
 } 
.div1,.div2,.div3 
{
    display:inline-block;
    
    
    
}
.row1,.row2
{
    display: flex;
}
.row2{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex:2;
    margin-bottom: 25px;
}
.img
{
     width: 40px;
    height:40px;
    border-radius:25px;
    /* object-fit: contain; */
    margin-top: 20px;
}
.subdivbottomrightright
{
 display:flex;
  /* margin-top: 20px; */
  margin-right:50px;
  margin-bottom: 75px;
}

.div1
{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: large;
    font-weight: bolder;
    color:black;
}

.div2
{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size:medium;
    font-weight: bolder;
    color:black;
    /* padding-top: 0px; */
    
}
.div3
{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size:medium;
    font-weight: bolder;
    color:grey;
}
