     .container-button
    {  
    margin: 70px; 
    padding:20px;
    background-color:aliceblue;
    width :50%;
    }


    .sign-up
    {
    color:white;
    font-weight:bold;
    font-size:x-large;
    background-color:rgb(3, 65, 3);
    border-radius:15px;
    height:30px;
    width:100px;
    }

