 .get-started
    {
       
        height: 60px;
        width:130px;
        background-color:rgb(106, 6, 199);
        border-color: black;
        color:grey;
        border-radius: 10px;
         
        font-size: large;
        font-weight: bold; 

    } 
    .download
    {
        height: 60px;
        width:130px;
        background-color:whitesmoke;
        border-color: black;
        color:grey;
        border-radius: 10px;
        margin-left: 40px; 
        font-size: large;
        font-weight: bold;
    }

    .container-button
     {
      margin: 70px; 
     
    padding:15px;
    background-color:aliceblue;
    width :50%;
    }