.c1
{
    font-family:"Montserrat", sans-serif;
    margin-left: 550px ;
    font-size: 70px;
    font-weight:550;
  margin-top: 20%;
}
.c2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size:xx-large;
    margin-left: 30%;
    margin-bottom: 10%;
}
