 .d
          
    {   
       width: fit-content;
        background-color: azure;
        display: block;
       padding:15px;
    }
    .in1
    {
        width:225px ;
        height: 30px;
        font-size: x-large;
         display:block ;
    }
    .in2
    {
        width:225px ;
        height: 30px;
        font-size: x-large;
         display:block ;
         margin-top: 5px;
    }