  .d
    {   
       /* width: fit-content;  */
       width: 320px;
       height: 180px; 
       background-color:rgb(234, 240, 240);
        margin-left: 10px;
        margin-right:145px ;
       
        /* padding:40px; */
    }
    .in1
    {
        width:135px ;
        height: 35px;
        font-size: large;
        
        margin-left: 10px;
        border-radius: 5px;
        border-color:lightgray;
        border-left: 0px;
         border-top: 0px;
         border-bottom: 0px;
         border-right: 0px;
        margin-top: 10px;
    }
    .in2
    {
        width:135px;
        height: 35px;   
        font-size: large;
        
        border-radius: 5px;
        border-color:whitesmoke;
        border-left: 0px;
        border-top: 0px; 

    }
    .in3
    {
        width:280px;
        height: 35px;   
        font-size: large;
        
        border-radius: 5px;
        border-color:whitesmoke;
        border-left: 0px;
        border-top: 0px; 
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .b
    {
 width:284px;
        height: 45px;   
        font-size: large;
        background-color:rgb(47, 92, 226);
        border-left: 0px;
        border-top: 0px; 
        margin-left: 10px;
        margin-top: 20px;
        border-radius: 8px;
    }
    