.dout{
    width:360px;
    height:140px;
    display:inline-block;    
    background-color:rgb(221, 230, 221);
    
    display: inline-block;
    background-color: aquamarine;
    
}
.din
{
   width:340px;
    height:120px;
    display:inline-block;    
     background-color: rgb(127, 246, 255);
    
    border-color:grey;
    display: inline-block;
    margin-left: 5px;  
}
.p1{
    color:white;
    font-size: larger;
}
.p2{
    width:300;
    display:inline-block;
    color:white;
    font-size:small ;

}
