.dout{
   width:545px;
   height: 320px;
    background-color:whitesmoke;
    display: inline-block;
    align-content:center;
    
}



.din {
    width: 150px;
    height:290px;
     background-color:white;
     display: inline-block;
     margin-left: 20px;

}

.catimg{
    width:100%;
    height:150px;  
}

.p
{
  
   margin-left: 25px;
   margin-bottom: 10px;
}
.sp
{
    font-size:smaller;
}
.b
{
    margin-left: 25px;
    margin-top: 10px;
    height:30px;
    background-color:rgb(5, 60, 241);
    color:white;
}



