.out
{
  text-align: center;
  width: 800px;
   height:300px;
 border-width: 2px;
 border-style: solid;
 border-color: blue;
 background-color: white;
 padding: 10px;
 object-fit: contain;
 box-shadow: 0 0 0.5px lightgray;
  border: solid 0.5px lightgray;
  
} 
 
 
 .c1
        {
           font-size:x-large;
            width: 600px;
            height:45px;
            border-radius: 25px;
            border-color: white;
            box-shadow:3px 3px 10px 1px rgb(189, 187, 187);
            border-top: 0;
            border-left: 0;
            margin-left: 100px;
            
        }
  .i
        {
            margin-left: 220px;
        }
  .d
        {   
          /* width: fit-content; */
           width: 485px; 
          background-color: white;
           margin-left: 10px;
           margin-right:145px ;
           /* padding:40px; */
        }
.inp2
{
    margin-top: 40px;
} 


  
     
   
   .in1
   {    width: 110px;
          background-color: lightgray;
        height:40px;
        
            border-color: white;
            box-shadow:3px 3px 10px 1px rgb(189, 187, 187);
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
            border-right:0 ;
        margin-right: 10px;
        }

   .in2      {
          width: 110px;
          background-color: lightgray;
           height:40px;
            border-color: white;
            box-shadow:3px 3px 10px 1px rgb(189, 187, 187);
            border-top: 0;
            border-left: 0;
             border-bottom: 0;
            border-right:0 ; 
        }
     