.subscribe-button{
        background-color: rgb(136, 19, 4);
        color:  white;
        border:rgb(10, 5, 5);
        height: 70px;
        width:  105px;
        border-radius:4px;
        cursor:pointer;
        margin-right:15px;
        transition:opacity 0.15s;
       }
       .subscribe-button:hover {
        opacity: 0.8;
       }  
       .subscribe-button:active{
        opacity: 0.5;
       }


       .join-button
       {
          background-color:rgb(49, 126, 126);
          color: rgb(35, 3, 177);
          border-color: rgb(35, 3, 177);
          border-style:solid;
          border-width:3px;
          height:50px;
          width:75px;
          border-radius:8px;
          cursor:cell;
          margin-right:15px;
          transition: background-color 0.15s, color 0.15s;
       } 
       .join-button:hover 
       {
         background-color:rgb(5, 80, 240) ;
         color:white;
        }
       .join-button:active {
        opacity:0.7;}


        .tweet-button
        {
          background-color:rgb(11, 103, 241);
          color: rgb(35, 3, 177);
          border-color:rgb(11, 103, 241);
          border-style:solid;
          border-width:3px;
          height:50px;
          width:75px;
         border-radius:60px;
         cursor:progress;
         font-weight:bold;
         font-size:0ch;
    

         } 
        .tweet-button:hover
         {
            box-shadow: 10px 7px 0px rgba(174, 173, 230,0.3);
           } 