.taho-bold {
    font-family: tahoma;
    font-size:xx-large;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.671);
    text-align:center;
    margin-left: 230;
    margin-right: 230;
    background-color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 15px;

  }