.sidebar
{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  right:20px;
  width:55px;
  background-color: white; 
    border-right-width: 1px;
    border-right-style:solid ;
    border-right-color:rgb(235, 232, 232) ; 
    z-index: 2;
    
  

}

.sidebar-link
{
  height:74px; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  cursor:pointer ;
}
.sidebar-link:hover
{
  background-color: rgb(238, 238, 238);

}
.sidebar-link img
{
  height: 24px;
  margin-bottom:4px;
}
.sidebar div
{
 
 font-size: 8px;
}